/*-- scss:defaults --*/

// Base document colors

$strong-highlight: rgb(172, 172, 172);; //#8da73c; // #f8ac07;//#FFD95A;//#f8ac07; //#9CA777;//#f8ac07;
$light-highlight: rgb(238, 237, 237);//#fef7e6;//#FFF7D4;//#F8F5E4;//#d8dec3;//d8dec3 //#F8F5E4;

// $body-bg: white;
$body-color: #181818;
$link-color: $body-color;

// $navbar-bg: $strong-highlight;
// $navbar-fg: $strong-highlight;
// $navbar-hl: white;

// $footer-bg: $light-highlight;

// $callout-color-note: $strong-highlight;
$link-color-hover: $strong-highlight;